$font-family: "Inter", sans-serif;

$font-xs: 0.75rem;   // 12px
$font-sm: 0.875rem;  // 14px
$font-md: 1rem;      // 16px
$font-lg: 1.25rem;   // 20px
$font-xl: 1.75rem;   // 28px
$font-2xl: 2.5rem;   // 40px
$font-3xl: 3.5rem;   // 56px