@use "../abstracts/colors" as *;

:root {
  --primary: #{$primary};
  --background: #{$background};
  --surface: #{$surface};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
}