@use "@angular/material" as mat;

/* ================================
   Angular Material Theme
================================ */
/* ================================
   Design Tokens
================================ */

@use "./styles/abstracts/colors";
@use "./styles/abstracts/spacing";
@use "./styles/abstracts/typography";
@use "./styles/abstracts/breakpoints";
@use "./styles/abstracts/variables";
@use "./styles/abstracts/mixins";

/* ================================
   Base
================================ */

@use "./styles/base/reset";
@use "./styles/base/global";
@use "./styles/base/animations";

/* ================================
   Themes
================================ */

@use "./styles/themes/light";
@use "./styles/themes/dark";

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}

