@use "@angular/material" as mat;

/* ================================
   Angular Material Theme
================================ */
/* ================================
   Design Tokens
================================ */

@use "./styles/abstracts/colors";
@use "./styles/abstracts/spacing";
@use "./styles/abstracts/typography";
@use "./styles/abstracts/breakpoints";
@use "./styles/abstracts/variables";
@use "./styles/abstracts/mixins";

/* ================================
   Base
================================ */

@use "./styles/base/reset";
@use "./styles/base/global";
@use "./styles/base/animations";

/* ================================
   Themes
================================ */

@use "./styles/themes/light";
@use "./styles/themes/dark";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

