@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/spacing" as *;
@use "../abstracts/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background-color: $background;
  color: $text-primary;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Common wrapper */
.container {
  width: min($container-width, calc(100% - 2rem));
  margin-inline: auto;
}

/* Common section spacing */
section {
  padding: $spacing-4xl 0;
}